<template name='login'>
	{{#if currentUser}}
		{{> warning message="You are already logged in. Log out first."}}
	{{else}}
		<div
			class="animated fadeInDown ui center aligned basic segment container"
		>
			<form
				class="ui {{#if isLoading}}loading{{/if}} form"
				id="auth-form"
			>
				<div
					id="login-facebook"
					class="ui blue login-form-style labeled icon button"
				>
				<i
					class="facebook icon"
				></i>
				 Login with Facebook </div>
				 <div
					class="ui horizontal divider"
				> Or </div>
				<div
					class="field login-form-style"
				>
					<label
					> Email </label>
					<div class="ui left icon input"
					>
						<input
							name="email"
							type="email"
							placeholder="Type your email here.."
						>
						<i class="mail icon"
						></i>
					</div>
				</div>
				<div
					class="field login-form-style"
				>
					<label
					> Password </label>
					<div class="ui left icon input"
					>
						<input
							name="password"
							type="password"
							placeholder="Type your password here.."
						>
						<i class="lock icon"
						></i>
					</div>
				</div>
				{{#unless isSignUp}}			
				<div
					class="field login-form-style"
				>
					<div
						class="ui red login-form-style labeled icon button submit-form"
					>
					<i
						class="sign in icon"
					></i>
					 Login </div>
				</div>
			 {{else}}
			 <div
					class="animated fadeIn field login-form-style"
				>
					<label
					> Repeat Password </label>
					<div class="ui left icon input"
					>
						<input
							name="repeat"
							type="password"
							placeholder="Repeat your password here.."
						>
						<i class="lock icon"
						></i>
					</div>
				</div>
			 <div
					class="animated fadeIn field login-form-style"
				>
					<label
					> Full Name </label>
					<div class="ui left icon input"
					>
						<input
							name="name"
							type="text"
							placeholder="Type your full name here.."
						>
						<i class="user icon"
						></i>
					</div>
				</div>
				<div
					class="animated fadeIn field login-form-style"
				>
					<label
					> Home </label>
					<div class="ui left icon input"
					>
						<input
							name="home"
							type="text"
							placeholder="Type your adress here.."
						>
						<i class="home icon"
						></i>
					</div>
				</div>
				<div
					class="animated fadeIn field login-form-style"
				>
					<label
					> Phone Number </label>
					<div class="ui left icon input"
					>
						<input
							name="phone"
							type="tel"
							placeholder="Type your phone number here.."
						>
						<i class="phone icon"
						></i>
					</div>
				</div>
				<div
					class="field login-form-style"
				>
					<div
						class="ui red login-form-style labeled icon button submit-form"
					>
					<i
						class="add user icon"
					></i>
				 		Create User 
				 	</div>
				</div>
			 	{{/unless}}
			 	<div
			 		class="field"
			 	>
				 	<a href=""
						id="toggle-sign-up"
					>
						{{#if isSignUp}}	
							Have a user? Login here!	
						{{else}}
							Don't have a user?
							Create one here!
						{{/if}}
					</a>
				</div>
			</form>
		</div>
	{{/if}}
</template>