<template name='order'>
	
	<div
			class="animated fadeInDown ui center aligned basic segment container"
	>
		<form
			class="ui form"
			id="order-form"
		>
			<div
				class="two fields"
			>
				<div
					class="field"
				>
					<div
						class="ui left icon input"
					>	
						<input
							name= "name"
							type= "text"
							placeholder= "First & Last Name"
						>
						<i
							class="user icon"
						></i>
					</div>
				</div>
				<div
					class="field"
				>
					<button 
						class="ui fluid basic{{#if createUser}} active {{/if}} toggle button"
						id="toggle-create-user"
					>
					<i
						class="add user icon"

					></i>
					Klik her for at oprette bruger!
					</button>
				</div>
			</div>
				{{#if createUser}}
			<div
				class="animated fadeInUp two fields"
			>
				<div
					class="field"
				>
					<div
						class="ui left icon input"
					>	
						<input
							name= "password"
							type= "password"
							placeholder= "Password"
						>
						<i
							class="lock icon"
						></i>
					</div>
				</div>
				<div
					class="field"
				>
					<div
						class="ui left icon input"
					>	
						<input
							name= "repeat"
							type= "password"
							placeholder= "Repeat Password"
						>
						<i
							class="lock icon"
						></i>
					</div>
				</div>
			</div>
			{{/if}}
			<div
				class="two fields"
			>
			<div
				class="field"
			>
				<div
					class="ui left icon input"
				>	
					<input
						name= "phone"
						type= "tel"
						placeholder= "Phone Number"
					>
					<i
						class="phone icon"
					></i>
				</div>
			</div>
			<div
				class="field"
			>
				<div
					class="ui left icon input"
				>	
					<input
						name= "email"
						type= "text"
						placeholder= "Email Address"
					>
					<i
						class="mail icon"
					></i>
				</div>
			</div>
			</div>
			<div
				class="two fields"
			>
			<div
				class="field"
			>
				<div
					class="ui left icon input"
				>	
					<input
						name= "home"
						type= "text"
						placeholder= "Home Address"
					>
					<i
						class="home icon"
					></i>
				</div>
			</div>
			<div
				class="field"
			>
				<div
					class="ui left icon input"
				>	
					<input
						name= "service"
						type= "text"
						placeholder= "Service will take place here"
					>
					<i
						class="marker icon"
					></i>
				</div>
			</div>
			</div>
			<div
				class="field"
			>
				<label
				> Vælg en kategori på dit problem her! </label>
				<div
					class="ui three fluid large buttons"
				> 
					<button
						class="ui middle attached{{#if equals serviceType "fix-sewer"}} active red{{/if}} button"
						id="toggle-type-fix-sewer"
					> 
					<i
						class="search icon"
					></i>
					Spoling af kloak</button>
					<button
						class="ui middle attached{{#if equals serviceType "review-sewer"}} active red{{/if}} button"
						id="toggle-type-review-sewer"
					> 
					<i
						class="thumbs outline up icon"
					></i>
					Eftersyn af kloak</button>
					<button
						class="ui middle attached{{#if equals serviceType "review-well"}}
						active red{{/if}} button"
						id="toggle-type-review-well"
					>
					<i
						class="configure icon"
					></i>
					Eftersyn af pumpebrønd </button>
				</div>
			</div>
			<div
				class="ui three column grid field"
			>
				<div
					class="column"
				>
					{{#if equals serviceType "fix-sewer"}}
						<div
							class="animated fadeInRight ui basic left aligned segment field"
						>
							<div
								class="ui checkbox"
								name="isUrgent"
							>
								<input type="checkbox" name="example">
								<label> Er det akut </label>
							</div>
						</div>	
					{{/if}}
				</div>
				<div
					class="column"
				>
					{{#if equals serviceType "review-sewer"}}
						<div
							class="animated fadeInUp ui basic left aligned segment field"
							name="isRat"
						>
							<div
								class="ui checkbox"
							>
								<input type="checkbox" name="example">
								<label> Har du problemer med rotter </label>
							</div>
						</div>		
					{{/if}}
				</div>
				<div
					class="column"
				>
					{{#if equals serviceType "review-well"}}
						<div
							class="animated fadeInLeft ui basic left aligned segment field"
						>
							<div
								class="ui checkbox"
								name="isWasteWater"
							>
								<input type="checkbox" name="example">
								<label> Er det en spildevandspumpe </label>
							</div>
						</div>
					{{/if}}
				</div>
			</div>
			<div
				class="field"
			>
				<textarea
					name="comments"
					placeholder= "Further comments on your problem"
					rows = 2
				></textarea>
			</div>
			<div
				class="field"
			>
				<button
					class="ui positive right floated alligned large labeled icon button"
				> 
				<i
					class="payment icon"
					type="submit"
				></i>
				Submit your order
				{{#if createUser}}
					and create account 
				{{/if}}
			</button>
			</div>
		</form>
	</div>
</template>


